body {
    margin: 0px;
    width: 100%;
}

.box1 {
    margin-top:0;
    padding-top:0;
    text-align: center;
}

.box2 {
    height:200px;
    margin-top:0%;
    text-align: center;
}

.carrot-pic {
   background-image: url('https://preview.ibb.co/mn96vF/background_carrots.jpg');
   background-size: cover;
   margin:0%;
}

.carrot1 {
    width: 140px;
    margin-top: -4%;
    margin-left: 0%;
    margin-bottom: -9%;
    margin-right: 0%;
    display: inline-block;
}

.carrot2 {
    width: 140px;
    margin-top: -4%;
    margin-left: 0%;
    margin-bottom: -9%;
    margin-right: 0%;
    display: inline-block;
}

.carrot3 {
    width: 140px;
    margin-top: -4%;
    margin-left: 0%;
    margin-bottom: -9%;
    margin-right: 0%;
    display: inline-block;
}

.smaller-image {
    width: 130px;
    margin-top: -4%;
    margin-right: 0%;
    margin-bottom: -9%;
    margin-left: 0%;
    display: inline-block;
}

p {
    font-size: 85px;
    font-family:'Yantramanav', serif;
    font-weight: bold;
    color: white;
    padding-top: 2%;
    padding bottom:3%;
}
