.mobile {
  display: block;
}

.comp {
  display: none;
}

html,body
{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: scroll; /* has to be scroll, not auto */
   -webkit-overflow-scrolling: touch;
}

#page1 {
   background-image: url('../Images/background_wtdwct.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

#page2 {
  background-color: #17a3a5;
}

#page3 {
  background-color: #8dbf67;
}

#page4 {
  background-color:	#fccb5f;
}

#page5 {
  background-color: #fc6e59;
}

#page6 {
}

.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.page80percent {
  height: 100%;
  width: 100%;
  margin:0;
}

.borderdiv {
  height:10px;
  clear: both;
  width: 100%;
  background-color:white;
}

.textp1 {
   font-family: 'Allerta Stencil', arial;
   font-weight: bold;
   color: white;
   font-size: 5em;
   max-width: 340px;
   display: inline-block;
   box-sizing: border-box;
   margin: 0;
}

.recipe {
 font-family: 'Allerta Stencil', arial;
 font-weight: bold;
 color: white;
 height: auto;
 margin-left: 2%;
 margin-right: 2%;
 padding-bottom: 4%;
 font-size: 3vmin;
 overflow: auto;
 box-sizing: border-box;
}

.pic {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height:50vh;
width:100%;
box-sizing: border-box;
}

.iconrow {
  height:10vh;
  text-align: center;
  box-sizing: border-box;
}

.icon-small {
 height:8vh;
 box-sizing: border-box;
}

.aboutMe{
 background-color: #225b66;
 height:auto;
 width: 100%;
 font-family: 'Allerta Stencil', arial;
 font-weight: bold;
 color: white;
 font-size: 3vw;
 margin: 2%;
 padding-right: 2%;
 box-sizing: border-box;
}

.aboutLinks {
  height:7vh;
  width: 100%;
  text-align: center;
  margin:0;
  box-sizing: border-box;
}

.aboutIcons {
  -webkit-filter: invert(100%);
  height:90%;
  padding: 2%;
  display: inline-block;
  width: auto;
  box-sizing: border-box;
}

.about2{
  display: inline-block;
}

.fa-angle-double-up {
  color: white;
}

